---
layout: default
title: Home
menu: no
---
<h1 class="page-title">Articles</h1>
<div class="home">
    <div class="post-list">
        {% for post in paginator.posts %}
        <a style="text-decoration:none" href="{{ post.url | prepend: site.baseurl }}">
            {% include post-cards.html %}
        </a>
        {% endfor %}
    </div>
    <!-- Pagination links -->
    <div class="pagination">
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
        {% else %}
        <span class="previous">Previous</span>
        {% endif %}
        <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Next</a>
        {% else %}
        <span class="next ">Next</span>
        {% endif %}
    </div>
</div>